@media (max-width: 1200px) {
    .div-logo>img {
        display: none;
    }

    .div-logo>span {
        display: block;
        margin: 0 auto;
        padding: 3px 8px;
        background-color: white;
        color: var(--primary);
        border-radius: 5px;
    }
}

@media (max-width: 800px) {
    .div-container {
        padding-top: 50px;
    }

    .div-sidebar-right {
        display: none;
    }

    /* Sidebar */
    .div-sidebar-left {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 0 1rem;
        height: fit-content;

    }

    .div-logo {
        margin: 0 !important;
        width: fit-content;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .div-logo>img {
        display: none;
    }

    .div-logo>span {
        margin: auto;
        height: fit-content;
    }

    .div-tabs {
        gap: 5px;
        display: flex;
        flex-direction: row;
        margin: 0 0 0 20px !important;
    }

    .div-tabs>.div-tab {
        padding: 5px;
        height: fit-content;
        margin: auto 0;
    }

    .div-logout {
        width: fit-content;
        margin: 0 !important;
    }

    /* Carousel */
    .your-courses-section {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        padding-bottom: 10px;
        scroll-behavior: smooth;
    }

    .your-courses-section::-webkit-scrollbar {
        display: none;
    }

    .your-courses-section .your-course {
        flex: 0 0 100%;
        scroll-snap-align: start;
    }

    .div-your-resources-section {
        overflow-x: auto;
        display: flex;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        gap: 10px;
        padding-bottom: 10px;
    }

    .div-your-resources-section::-webkit-scrollbar {
        display: none;
    }

    .div-your-resources-section .div-your-resource {
        flex: 0 0 100%;
        scroll-snap-align: start;
    }

    /* New Course */
    .div-new-course:hover {
        transform: translateY(0);
    }

    .div-new-course .div-welcome {
        font-size: 10px;
    }

    .div-new-course .div-course-title {
        font-size: 18px;
        font-weight: 600;
    }

    .div-new-course .div-course-description {
        font-size: 10px;
    }

    .div-new-course .div-course-action-btn {
        padding: 5px 10px;
        font-size: 14px;
    }

    /* Your Courses */
    .your-course {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        height: fit-content;
        cursor: pointer;
    }

    .your-course:hover {
        transform: translateY(0);
    }

    .your-course-header .course-title {
        font-size: 16px;
    }

    .your-course-header .course-days-remaining {
        font-size: 10px;
        padding: 1px 4px;
    }

    .your-course-total-classes {
        font-size: 10px;
    }

    .your-course-duration-progress-bar {
        margin: 10px 0;
        gap: 10px;
    }

    .course-attendance-count {
        font-size: 14px;
        font-weight: 600;
    }

    .course-attendance-text {
        font-size: 10px;
        font-weight: 600;
    }

    .course-continue-btn {
        padding: 5px 10px;
        font-size: 12px;
    }

    /* Your Resources */
    .div-your-resource {
        width: 100%;
        padding: 15px;
        cursor: pointer;
        transition: 0.2s;
    }

    .div-your-resource:hover {
        transform: translateY(0);
    }
}